# Libraries

In [67]:
import pandas as pd # Import the pandas library for data manipulation
import geopandas as gpd # Import geopandas for handling geospatial data
import mapclassify # Import mapclassify for spatial data classification
import numpy as np # Import numpy for numerical operations
import matplotlib.pyplot as plt # Import matplotlib for plotting
import seaborn as sns # Import seaborn for statistical data visualization

# Dataset Loading for stolen vehicles(add more data into existing dataset)

In [68]:
# Read the first CSV file into a DataFrame
df1=pd.read_csv(r'C:\Users\DELL\3sem_project\stolenvehicles1.csv')

# Read the second CSV file into another DataFrame
df2=pd.read_csv(r'C:\Users\DELL\3sem_project\stolenvehicles2.csv')

# Convert the 'date_stolen' column in the first DataFrame to datetime format
df1["date_stolen"] = pd.to_datetime(df1["date_stolen"])

# Convert the 'date_stolen' column in the second DataFrame to datetime format
df2["date_stolen"] = pd.to_datetime(df2["date_stolen"])

# Display the first DataFrame to check its contents and the changes
df1

,no_plate,color,company_name,vehicle_desc,model_year,vehicle_type,date_stolen,district_name
0,0ASR,White,Mazda,BT-50,2017,Utility,2023-11-28,Waitemata
1,0FATTY,Grey,Nissan,NAVARA,2018,Utility,2023-11-23,Central
2,101W2,Silver,Trailer,ALLROAD,2021,Trailer,2024-03-27,Wellington
3,102455,Yellow,Suzuki,LT250L9,2019,Quad - Four Wheeler,2023-12-20,Canterbury
4,10D57,Silver,Factory Built,BRENT SMITH TRAILERS,2018,Trailer,2024-04-11,Bay of Plenty
...,...,...,...,...,...,...,...,...
5033,ZZ8125,Red,Holden,VX COMMODORE,2001,Saloon,2024-03-21,Central
5034,ZZB500,Green,Mini,COUNTRYMAN,2022,Stationwagon,2024-04-11,Auckland City
5035,bab594,Blue,Toyota,prado,1996,NaN,2024-01-14,Central
5036,ewc870,Blue,Kia,sportage,2004,NaN,2024-02-14,Wellington
5037,yr6817,Green,Nissan,MAXIMA,1999,NaN,2023-11-06,Southern

In [69]:
# Display the second DataFrame to check its contents and the changes
df2

,no_plate,color,company_name,vehicle_desc,model_year,vehicle_type,date_stolen,district_name
0,0ASR,White,Mazda,BT-50,2017,Utility,2023-11-28,Waitemata
1,0FATTY,Grey,Nissan,NAVARA,2018,Utility,2023-11-23,Central
2,101W2,Silver,Trailer,ALLROAD,2021,Trailer,2024-03-27,Wellington
3,102455,Yellow,Suzuki,LT250L9,2019,Quad - Four Wheeler,2023-12-20,Canterbury
4,107W5,Silver,Briford,8X4,2021,Trailer,2024-05-09,Canterbury
...,...,...,...,...,...,...,...,...
5085,ZZ3693,White,Ford,COURIER,2001,Utility,2023-12-15,Southern
5086,ZZ6604,White,Toyota,HILUX,2001,Utility,2024-04-10,Eastern
5087,ZZ8125,Red,Holden,VX COMMODORE,2001,Saloon,2024-03-21,Central
5088,bab594,Blue,Toyota,prado,1996,NaN,2024-01-14,Central
5089,ewc870,Blue,Kia,sportage,2004,NaN,2024-02-14,Wellington

# Merging two datasets(df1,df2)

In [70]:
# Concatenate the two DataFrames into a single DataFrame
df3 = pd.concat([df1,df2])

# Display the concatenated DataFrame to check its contents and the changes
df3

,no_plate,color,company_name,vehicle_desc,model_year,vehicle_type,date_stolen,district_name
0,0ASR,White,Mazda,BT-50,2017,Utility,2023-11-28,Waitemata
1,0FATTY,Grey,Nissan,NAVARA,2018,Utility,2023-11-23,Central
2,101W2,Silver,Trailer,ALLROAD,2021,Trailer,2024-03-27,Wellington
3,102455,Yellow,Suzuki,LT250L9,2019,Quad - Four Wheeler,2023-12-20,Canterbury
4,10D57,Silver,Factory Built,BRENT SMITH TRAILERS,2018,Trailer,2024-04-11,Bay of Plenty
...,...,...,...,...,...,...,...,...
5085,ZZ3693,White,Ford,COURIER,2001,Utility,2023-12-15,Southern
5086,ZZ6604,White,Toyota,HILUX,2001,Utility,2024-04-10,Eastern
5087,ZZ8125,Red,Holden,VX COMMODORE,2001,Saloon,2024-03-21,Central
5088,bab594,Blue,Toyota,prado,1996,NaN,2024-01-14,Central
5089,ewc870,Blue,Kia,sportage,2004,NaN,2024-02-14,Wellington

In [71]:
# Drop duplicate rows, keeping only the first occurrence, and modify the DataFrame in place
df3.drop_duplicates(keep='first',inplace=True)

In [72]:
# Sort the DataFrame by the 'date_stolen' column
df3 = df3.sort_values(by=['date_stolen'])

# Reset the index of the DataFrame and drop the old index
df3= df3.reset_index(drop=True)

# Display the resulting DataFrame to check its contents after sorting and resetting the index
df3

,no_plate,color,company_name,vehicle_desc,model_year,vehicle_type,date_stolen,district_name
0,PZQ399,Silver,Mazda,FAMILIA,1999,Stationwagon,2023-10-14,Bay of Plenty
1,159Q3,Silver,Trailer,MOTO HAUL,2021,Trailer,2023-10-14,Southern
2,LRT21,Silver,Suzuki,SWIFT,2015,Hatchback,2023-10-14,Counties/Manukau
3,GTZ487,Grey,Subaru,IMPREZA,2009,Hatchback,2023-10-14,Waikato
4,BUC100,Blue,Holden,VT COMMODORE,1998,Saloon,2023-10-14,Central
...,...,...,...,...,...,...,...,...
6323,HWE321,Silver,Toyota,AVENSIS,2004,Saloon,2024-05-16,Counties/Manukau
6324,BDN946,Red,Toyota,HILUX,2003,Utility,2024-05-16,Canterbury
6325,PUJ441,White,Land Rover,RANGE ROVER SPORT,2023,Stationwagon,2024-05-16,Auckland City
6326,ASL386,Brown,Toyota,HILUX,2002,Utility,2024-05-16,Canterbury
6327,DMY408,Silver,Ford,FALCON,2003,Saloon,2024-05-16,Bay of Plenty

In [73]:
#To saved update dataset into csv format and view in excel
#df3.to_csv('stolenvechilesdf3(mergedata).csv',index=False)

# Data Preprocessing

In [74]:
# Display the resulting DataFrame to check its contents after sorting and resetting the index
df3.head()

,no_plate,color,company_name,vehicle_desc,model_year,vehicle_type,date_stolen,district_name
0,PZQ399,Silver,Mazda,FAMILIA,1999,Stationwagon,2023-10-14,Bay of Plenty
1,159Q3,Silver,Trailer,MOTO HAUL,2021,Trailer,2023-10-14,Southern
2,LRT21,Silver,Suzuki,SWIFT,2015,Hatchback,2023-10-14,Counties/Manukau
3,GTZ487,Grey,Subaru,IMPREZA,2009,Hatchback,2023-10-14,Waikato
4,BUC100,Blue,Holden,VT COMMODORE,1998,Saloon,2023-10-14,Central

In [75]:
# Check for any missing values in the DataFrame
missing_values = df3.isnull().sum()
print("Missing values in each column:")
print("------------------------------")
print(missing_values)

Missing values in each column:
------------------------------
no_plate          2
color            15
company_name     14
vehicle_desc     25
model_year        0
vehicle_type     25
date_stolen       0
district_name     0
dtype: int64

In [76]:
# Filter the DataFrame to show only rows with missing values
rows_with_missing_values = df3[df3.isnull().any(axis=1)]
print("Rows with missing values:")
print("-----------------------------------------------------------------------")
rows_with_missing_values

Rows with missing values:
-----------------------------------------------------------------------

,no_plate,color,company_name,vehicle_desc,model_year,vehicle_type,date_stolen,district_name
44,63QQY,Yellow,Homebuilt,NaN,1987,Trailer - Heavy,2023-10-16,Canterbury
295,86QJM,Blue,Homebuilt,NaN,1987,Trailer,2023-10-26,Bay of Plenty
493,41L90,Silver,NaN,VULCAN,0,NaN,2023-11-04,Waitemata
555,yr6817,Green,Nissan,MAXIMA,1999,NaN,2023-11-06,Southern
574,NaN,NaN,NaN,TRX420,0,NaN,2023-11-07,Eastern
855,DKXHGD,Green,NaN,LIME SCOOTER,0,NaN,2023-11-20,Canterbury
866,BHRBFS,Green,NaN,LIME SCOOTER,0,NaN,2023-11-20,Canterbury
1063,QDN896,Blue,Volkswagen,GOLF R,2017,NaN,2023-11-28,Waitemata
1146,HHC455,NaN,NaN,NaN,0,NaN,2023-12-01,Counties/Manukau
1283,O5201,Grey,Homebuilt,NaN,1993,Trailer,2023-12-06,Northland
1389,MII672,NaN,NaN,NaN,0,NaN,2023-12-11,Waitemata
1507,W5649,Silver,Homebuilt,NaN,1994,Trailer,2023-12-15,Central
1513,X406,NaN,NaN,NaN,0,NaN,2023-12-16,Counties/Manukau
1548,80HCR,NaN,NaN,NaN,0,NaN,2023-12-17,Waikato
1590,48QUD,White,Homebuilt,NaN,1988,Trailer - Heavy,2023-12-18,Eastern
1962,6103X,White,Toyota,Prius,2016,NaN,2024-01-05,Counties/Manukau
1979,Z2011,Green,Homebuilt,NaN,1995,Trailer,2024-01-05,Bay of Plenty
2150,70NMD,Blue,Trailer,NaN,1985,Trailer,2024-01-12,Central
2197,bab594,Blue,Toyota,prado,1996,NaN,2024-01-14,Central
2310,82BLF,Yellow,Trailer,NaN,1974,Trailer,2024-01-18,Wellington
2404,51q88,NaN,NaN,NaN,0,NaN,2024-01-22,Central
2453,999XL,White,Liteweight,NaN,1973,Caravan,2024-01-23,Eastern
2832,350SXF,NaN,KTM,SXF350,2011,Trail Bike,2024-02-07,Auckland City
2840,R12219,Cream,Crown,CG18S-FFT4500-3,0,NaN,2024-02-08,Auckland City
2954,N0PLAT,NaN,Yamaha,AG200,2021,Trail Bike,2024-02-12,Central
2967,NaN,Blue,Yamaha,300,93,NaN,2024-02-12,Bay of Plenty
3006,E2309,Grey,Homebuilt,NaN,1982,Boat Trailer,2024-02-14,Eastern
3022,X1587,White,Lexus,RX450H,2013,NaN,2024-02-14,Waitemata
3031,ewc870,Blue,Kia,sportage,2004,NaN,2024-02-14,Wellington
3073,11770,NaN,Honda,XR190CT,2023,NaN,2024-02-16,Central
3221,12345,Yellow,Volvo,EC140 DL,2017,NaN,2024-02-21,Bay of Plenty
3403,DINGO,NaN,NaN,MINI DIGGER,0,NaN,2024-02-27,Canterbury
3498,E310B,Brown,Trailer,NaN,1979,Trailer,2024-03-02,Counties/Manukau
4152,Q943S,Grey,Homebuilt,NaN,1990,Boat Trailer,2024-03-22,Waikato
4258,M178Q,Grey,Trailer,NaN,1955,Trailer,2024-03-25,Canterbury
4466,4851X,NaN,NaN,NaN,0,NaN,2024-03-31,Waitemata
4598,41NMG,Grey,Trailer,NaN,1984,Trailer,2024-04-03,Northland
4710,85NDK,Grey,Trailer,NaN,1984,Trailer,2024-04-06,Canterbury
5106,ALOST,Red,Honda,XR150,2016,NaN,2024-04-14,Waikato
5128,503404,Blue,NaN,NaN,0,Trail Bike,2024-04-14,Canterbury
5420,M8057,Red,Homebuilt,NaN,1991,Trailer,2024-04-23,Southern
5588,6017X,NaN,NaN,NaN,0,NaN,2024-04-30,Canterbury
5831,Y5309,NaN,Yamaha,YFM450FBPM,2021,Quad - Four Wheeler,2024-05-06,Waikato
6004,B973U,NaN,NaN,NaN,0,NaN,2024-05-10,Central
6228,X9593,NaN,Nissan,NOTE,2020,NaN,2024-05-14,Wellington

# Filling missing values for 29 rows

In [77]:
# Data for the 29 rows with missing values
data = {
    "index_no": [44, 295, 493, 555, 1063, 1146, 1283, 1507, 1548, 1590, 1962, 1979, 2150, 2197, 2310, 2404, 2453, 3006, 3022, 3221, 3403, 3498, 4152, 4258, 4598, 4710, 5106, 5420, 6004],
    "no_plate": ["63QQY", "86QJM", "41L90", "yr6817", "QDN896", "HHC455", "O5201", "W5649", "80HCR/HCR80", "48QUD", "6103X", "Z2011", "70NMD", "bab594", "82BLF", "51q88", "999XL", "E2309", "X1587", "12345", "DINGO", "E310B", "Q943S", "M178Q", "41NMG", "85NDK", "ALOST", "M8057", "B973U"],
    "color": ["Yellow", "Blue", "Silver", "Green", "Blue", "SILVER", "Grey", "Silver", "White", "White", "White", "Green", "Blue", "Blue", "Yellow", "Silver", "White", "Grey", "White", "Yellow", "Blue", "Brown", "Grey", "Grey", "Grey", "Grey", "Red", "Red", "Black"],
    "company_name": ["Homebuilt", "Homebuilt", "VULCAN", "Nissan", "Volkswagen", "BMW", "Homebuilt", "Homebuilt", "MAZDA", "Homebuilt", "Toyota", "Homebuilt", "Trailer", "Toyota", "Trailer", "TRAILER", "Caravan", "Homebuilt", "Lexus", "Volvo", "ISUZU", "Trailer", "Homebuilt", "Trailer", "Trailer", "Trailer", "Honda", "Homebuilt", "Trailer"],
    "vehicle_desc": ["Other Commercial Trailer", "DOMESTIC TRAILER", "Trailer", "MAXIMA", "GOLF R", "335I", "DOMESTIC TRAILER", "DOMESTIC TRAILER", "ATENZA", "Other Commercial Trailer", "Prius", "DOMESTIC TRAILER", "DOMESTIC TRAILER", "prado", "DOMESTIC TRAILER", "ASD JETSKI", "Liteweight", "Boat Trailer", "RX450H", "EC140 DL Excavator", "MINI DIGGER(ELF)", "Trailer Home", "Boat Trailer", "DOMESTIC TRAILER", "DOMESTIC TRAILER", "DOMESTIC TRAILER", "XR150", "DOMESTIC TRAILER", "DOMESTIC TRAILER"],
    "model_year": [1987, 1987, 2019, 1999, 2017, 2008, 1993, 1994, 2007, 1988, 2016, 1995, 1985, 1996, 1974, 2019, 1973, 1982, 2013, 2017, 1999, 1979, 1990, 1955, 1984, 1984, 2016, 1991, 1989],
    "vehicle_type": ["Trailer - Heavy", "Trailer", "Trailer", "Saloon", "Station Wagon", "Station Wagon", "Trailer", "Trailer", "Saloon", "Trailer - Heavy", "Saloon", "Trailer", "Trailer", "Station Wagon", "Trailer", "Boat Trailer", "Caravan", "Boat Trailer", "Saloon", "Utility", "Other Truck", "Trailer", "Boat Trailer", "Trailer", "Trailer", "Trailer", "Roadbike", "Trailer", "Trailer"],
    "date_stolen": ["2023-10-16", "2023-10-26", "2023-11-04", "2023-11-06", "2023-11-28", "2023-12-01", "2023-12-06", "2023-12-15", "2023-12-17", "2023-12-18", "2024-01-05", "2024-01-05", "2024-01-12", "2024-01-14", "2024-01-18", "2024-01-22", "2024-01-23", "2024-02-14", "2024-02-14", "2024-02-21", "2024-02-27", "2024-03-02", "2024-03-22", "2024-03-25", "2024-04-03", "2024-04-06", "2024-04-14", "2024-04-23", "2024-05-10"],
    "district_name": ["Canterbury", "Bay of Plenty", "Waitemata", "Southern", "Waitemata", "Counties/Manukau", "Northland", "Central", "Waikato", "Eastern", "Counties/Manukau", "Bay of Plenty", "Central", "Central", "Wellington", "Central", "Eastern", "Eastern", "Waitemata", "Bay of Plenty", "Canterbury", "Counties/Manukau", "Waikato", "Canterbury", "Northland", "Canterbury", "Waikato", "Southern", "Central"]
}

# Create a DataFrame from the provided data
missing_values_df = pd.DataFrame(data)
missing_values_df.set_index('index_no', inplace=True)

# Update the original DataFrame with the provided data for the 29 rows
for index, row in missing_values_df.iterrows():
    df3.loc[index] = row

# Display the DataFrame after updating known values
print("DataFrame after updating known values:")
print(df3.loc[missing_values_df.index])

DataFrame after updating known values:
             no_plate   color company_name              vehicle_desc  \
index_no
44              63QQY  Yellow    Homebuilt  Other Commercial Trailer
295             86QJM    Blue    Homebuilt          DOMESTIC TRAILER
493             41L90  Silver       VULCAN                   Trailer
555            yr6817   Green       Nissan                    MAXIMA
1063           QDN896    Blue   Volkswagen                    GOLF R
1146           HHC455  SILVER          BMW                      335I
1283            O5201    Grey    Homebuilt          DOMESTIC TRAILER
1507            W5649  Silver    Homebuilt          DOMESTIC TRAILER
1548      80HCR/HCR80   White        MAZDA                    ATENZA
1590            48QUD   White    Homebuilt  Other Commercial Trailer
1962            6103X   White       Toyota                     Prius
1979            Z2011   Green    Homebuilt          DOMESTIC TRAILER
2150            70NMD    Blue      Trailer          DOMESTIC TRAILER
2197           bab594    Blue       Toyota                     prado
2310            82BLF  Yellow      Trailer          DOMESTIC TRAILER
2404            51q88  Silver      TRAILER                ASD JETSKI
2453            999XL   White      Caravan                Liteweight
3006            E2309    Grey    Homebuilt              Boat Trailer
3022            X1587   White        Lexus                    RX450H
3221            12345  Yellow        Volvo        EC140 DL Excavator
3403            DINGO    Blue        ISUZU          MINI DIGGER(ELF)
3498            E310B   Brown      Trailer              Trailer Home
4152            Q943S    Grey    Homebuilt              Boat Trailer
4258            M178Q    Grey      Trailer          DOMESTIC TRAILER
4598            41NMG    Grey      Trailer          DOMESTIC TRAILER
4710            85NDK    Grey      Trailer          DOMESTIC TRAILER
5106            ALOST     Red        Honda                     XR150
5420            M8057     Red    Homebuilt          DOMESTIC TRAILER
6004            B973U   Black      Trailer          DOMESTIC TRAILER

          model_year     vehicle_type date_stolen     district_name
index_no
44              1987  Trailer - Heavy  2023-10-16        Canterbury
295             1987          Trailer  2023-10-26     Bay of Plenty
493             2019          Trailer  2023-11-04         Waitemata
555             1999           Saloon  2023-11-06          Southern
1063            2017    Station Wagon  2023-11-28         Waitemata
1146            2008    Station Wagon  2023-12-01  Counties/Manukau
1283            1993          Trailer  2023-12-06         Northland
1507            1994          Trailer  2023-12-15           Central
1548            2007           Saloon  2023-12-17           Waikato
1590            1988  Trailer - Heavy  2023-12-18           Eastern
1962            2016           Saloon  2024-01-05  Counties/Manukau
1979            1995          Trailer  2024-01-05     Bay of Plenty
2150            1985          Trailer  2024-01-12           Central
2197            1996    Station Wagon  2024-01-14           Central
2310            1974          Trailer  2024-01-18        Wellington
2404            2019     Boat Trailer  2024-01-22           Central
2453            1973          Caravan  2024-01-23           Eastern
3006            1982     Boat Trailer  2024-02-14           Eastern
3022            2013           Saloon  2024-02-14         Waitemata
3221            2017          Utility  2024-02-21     Bay of Plenty
3403            1999      Other Truck  2024-02-27        Canterbury
3498            1979          Trailer  2024-03-02  Counties/Manukau
4152            1990     Boat Trailer  2024-03-22           Waikato
4258            1955          Trailer  2024-03-25        Canterbury
4598            1984          Trailer  2024-04-03         Northland
4710            1984          Trailer  2024-04-06        Canterbury
5106            2016         Roadbike  2024-04-14           Waikato
5420            1991          Trailer  2024-04-23          Southern
6004            1989          Trailer  2024-05-10           Central

In [78]:
# View specific row using .loc (label-based indexing)
index_label = 44
specific_row = df3.loc[index_label]
print(f"Row with index label {index_label}:")
print(specific_row)

Row with index label 44:
no_plate                            63QQY
color                              Yellow
company_name                    Homebuilt
vehicle_desc     Other Commercial Trailer
model_year                           1987
vehicle_type              Trailer - Heavy
date_stolen           2023-10-16 00:00:00
district_name                  Canterbury
Name: 44, dtype: object

In [79]:
# Check if there are any NaN values in the entire DataFrame
has_nan = df3.isnull().values.any()
print(f"DataFrame contains NaN values: {has_nan}")

# Count total number of NaN values in the entire DataFrame
total_nan = df3.isnull().sum().sum()
print(f"Total number of NaN values in DataFrame: {total_nan}")

# Check for NaN values in each column
nan_per_column = df3.isnull().sum()
print("Number of NaN values per column after updating known values::")
print(nan_per_column)

# Filter rows that have any NaN values
rows_with_nan = df3[df3.isnull().any(axis=1)]
print("Rows with any NaN values:")
print(rows_with_nan)

DataFrame contains NaN values: True
Total number of NaN values in DataFrame: 37
Number of NaN values per column after updating known values::
no_plate          2
color            10
company_name      8
vehicle_desc      5
model_year        0
vehicle_type     12
date_stolen       0
district_name     0
dtype: int64
Rows with any NaN values:
     no_plate  color company_name     vehicle_desc  model_year  \
574       NaN    NaN          NaN           TRX420           0
855    DKXHGD  Green          NaN     LIME SCOOTER           0
866    BHRBFS  Green          NaN     LIME SCOOTER           0
1389   MII672    NaN          NaN              NaN           0
1513     X406    NaN          NaN              NaN           0
2832   350SXF    NaN          KTM           SXF350        2011
2840   R12219  Cream        Crown  CG18S-FFT4500-3           0
2954   N0PLAT    NaN       Yamaha            AG200        2021
2967      NaN   Blue       Yamaha              300          93
3031   ewc870   Blue          Kia         sportage        2004
3073    11770    NaN        Honda          XR190CT        2023
4466    4851X    NaN          NaN              NaN           0
5128   503404   Blue          NaN              NaN           0
5588    6017X    NaN          NaN              NaN           0
5831    Y5309    NaN       Yamaha       YFM450FBPM        2021
6228    X9593    NaN       Nissan             NOTE        2020

             vehicle_type date_stolen     district_name
574                   NaN  2023-11-07           Eastern
855                   NaN  2023-11-20        Canterbury
866                   NaN  2023-11-20        Canterbury
1389                  NaN  2023-12-11         Waitemata
1513                  NaN  2023-12-16  Counties/Manukau
2832           Trail Bike  2024-02-07     Auckland City
2840                  NaN  2024-02-08     Auckland City
2954           Trail Bike  2024-02-12           Central
2967                  NaN  2024-02-12     Bay of Plenty
3031                  NaN  2024-02-14        Wellington
3073                  NaN  2024-02-16           Central
4466                  NaN  2024-03-31         Waitemata
5128           Trail Bike  2024-04-14        Canterbury
5588                  NaN  2024-04-30        Canterbury
5831  Quad - Four Wheeler  2024-05-06           Waikato
6228                  NaN  2024-05-14        Wellington

# Dropped 18 rows(Record not found)

In [80]:
# Filter the DataFrame based on the condition where 'district_name' is 'Not Specified (District)'
specific_row = df3[df3['district_name'] == 'Not Specified (District)']

# Display the specific row
print("Row where district_name is 'Not Specified (District)':")
print(specific_row)

Row where district_name is 'Not Specified (District)':
     no_plate   color company_name vehicle_desc  model_year  vehicle_type  \
40      B5ZLU   White          BMW        R1250        2019      Roadbike
5612   CAS123  Silver        Mazda      FAMILIA        2000  Stationwagon

     date_stolen             district_name
40    2023-10-16  Not Specified (District)
5612  2024-04-30  Not Specified (District)

In [81]:
# Drop 16rows with any NaN values & updated data will be saved in df4
df4 = df3.dropna()

# Filter the DataFrame to exclude rows where 'district_name' is 'Not Specified (District)'
df4 = df4[df4['district_name'] != 'Not Specified (District)']#found 2 more rows to drop in district_name column

# Verify the result
print(f"Original DataFrame shape: {df3.shape}")
print(f"Cleaned DataFrame shape: {df4.shape}")

# Display the cleaned DataFrame
print("DataFrame After Dropping 18 Rows:")
df4

Original DataFrame shape: (6328, 8)
Cleaned DataFrame shape: (6310, 8)
DataFrame After Dropping 18 Rows:

,no_plate,color,company_name,vehicle_desc,model_year,vehicle_type,date_stolen,district_name
0,PZQ399,Silver,Mazda,FAMILIA,1999,Stationwagon,2023-10-14,Bay of Plenty
1,159Q3,Silver,Trailer,MOTO HAUL,2021,Trailer,2023-10-14,Southern
2,LRT21,Silver,Suzuki,SWIFT,2015,Hatchback,2023-10-14,Counties/Manukau
3,GTZ487,Grey,Subaru,IMPREZA,2009,Hatchback,2023-10-14,Waikato
4,BUC100,Blue,Holden,VT COMMODORE,1998,Saloon,2023-10-14,Central
...,...,...,...,...,...,...,...,...
6323,HWE321,Silver,Toyota,AVENSIS,2004,Saloon,2024-05-16,Counties/Manukau
6324,BDN946,Red,Toyota,HILUX,2003,Utility,2024-05-16,Canterbury
6325,PUJ441,White,Land Rover,RANGE ROVER SPORT,2023,Stationwagon,2024-05-16,Auckland City
6326,ASL386,Brown,Toyota,HILUX,2002,Utility,2024-05-16,Canterbury
6327,DMY408,Silver,Ford,FALCON,2003,Saloon,2024-05-16,Bay of Plenty

In [82]:
# Check for NaN values in each column
nan_columns = df4.isna().any()
print("Columns with NaN values in df4:")
print(nan_columns)

# Check for null values in each column
null_columns = df4.isnull().any()
print("Columns with null values in df4:")
print(null_columns)

Columns with NaN values in df4:
no_plate         False
color            False
company_name     False
vehicle_desc     False
model_year       False
vehicle_type     False
date_stolen      False
district_name    False
dtype: bool
Columns with null values in df4:
no_plate         False
color            False
company_name     False
vehicle_desc     False
model_year       False
vehicle_type     False
date_stolen      False
district_name    False
dtype: bool

# Check columns(color,vehicle_type and company_name)

In [83]:
# other columns as(no_plate,model_year,date_stolen and district_name) are cleaned

In [84]:
# 'color' column

In [85]:
# Convert 'color' column to uppercase for consistency
df4['color'] = df4['color'].str.upper()

# Check unique values in the 'color' column
unique_colors = df4['color'].unique()

# Display all unique values
print("Unique values in 'color' column:")
unique_colors

# Count the unique values in the 'color' column
color_counts = df4['color'].value_counts()

# Display the counts of unique values
print("Counts of unique values in 'color' column:")
print(color_counts)

Unique values in 'color' column:
Counts of unique values in 'color' column:
color
SILVER    1721
WHITE     1366
BLACK      819
BLUE       657
GREY       603
RED        509
GREEN      284
GOLD       104
BROWN       74
YELLOW      58
ORANGE      51
PURPLE      38
CREAM       15
PINK        11
Name: count, dtype: int64

In [86]:
#'vehicle_type' column

In [87]:
# Convert 'vehicle_type' column to uppercase for consistency
df4['vehicle_type'] = df4['vehicle_type'].str.upper()

# Check the unique values and their counts again
unique_types = df4['vehicle_type'].unique()
type_counts = df4['vehicle_type'].value_counts()

# Display the results
print("Unique values in 'vehicle_type':")
print(unique_types)

print("\nCounts of unique values in 'vehicle_type':")
print(type_counts)

Unique values in 'vehicle_type':
['STATIONWAGON' 'TRAILER' 'HATCHBACK' 'SALOON' 'UTILITY' 'HEAVY VAN'
 'CARAVAN' 'MOPED' 'BOAT TRAILER' 'MOBILE HOME - LIGHT' 'ROADBIKE'
 'TRAILER - HEAVY' 'OTHER TRUCK' 'LIGHT VAN' 'FLAT DECK TRUCK'
 'CAB AND CHASSIS ONLY' 'CONVERTIBLE' 'QUAD - FOUR WHEELER' 'TRACTOR'
 'SPORTS CAR' 'LIGHT BUS' 'ALL TERRAIN VEHICLE' 'ARTICULATED TRUCK'
 'MOBILE MACHINE' 'STATION WAGON' 'SERVICE COACH' 'TRAIL BIKE']

Counts of unique values in 'vehicle_type':
vehicle_type
STATIONWAGON            1384
SALOON                  1029
HATCHBACK                951
UTILITY                  783
TRAILER                  758
ROADBIKE                 325
LIGHT VAN                313
MOPED                    223
BOAT TRAILER             119
TRAILER - HEAVY          111
CARAVAN                   60
OTHER TRUCK               51
SPORTS CAR                46
CONVERTIBLE               26
MOBILE HOME - LIGHT       24
LIGHT BUS                 24
FLAT DECK TRUCK           23
CAB AND CHASSIS ONLY      12
HEAVY VAN                 11
MOBILE MACHINE             9
ALL TERRAIN VEHICLE        7
SERVICE COACH              6
TRAIL BIKE                 4
ARTICULATED TRUCK          4
STATION WAGON              3
TRACTOR                    2
QUAD - FOUR WHEELER        2
Name: count, dtype: int64

In [88]:
# Merge similar types
df4['vehicle_type'] = df4['vehicle_type'].replace({
    'SEDAN': 'SALOON',
    'SALOON':'CAR',
    'STATIONWAGON': 'CAR',
    'STATION WAGON':'CAR',
    'HATCHBACK':'CAR',
    'CONVERTIBLE': 'CAR',
    'SPORTS CAR': 'CAR',
    
    'TRAILER - HEAVY': 'TRAILER',
    'BOAT TRAILER': 'TRAILER',
    
    'CARAVAN': 'CAMPER',
    'MOBILE HOME - LIGHT': 'CAMPER',
    
    'LIGHT VAN': 'VAN',
    'HEAVY VAN': 'VAN',
    
    'UTILITY': 'UTILITY TRUCK',
    'OTHER TRUCK': 'UTILITY TRUCK',
    'FLAT DECK TRUCK': 'UTILITY TRUCK',
    'CAB AND CHASSIS ONLY': 'UTILITY TRUCK',
    'ARTICULATED TRUCK': 'UTILITY TRUCK',
    
    'MOPED': 'MOTORCYCLE',
    'ROADBIKE': 'MOTORCYCLE',
    'TRAIL BIKE': 'MOTORCYCLE',
    'ROAD BIKE': 'MOTORCYCLE',
    'MOTOR BIKE': 'MOTORCYCLE',
    'MOTOR CYCLE': 'MOTORCYCLE',
    
    'QUAD - FOUR WHEELER': 'ATV',
    'ALL TERRAIN VEHICLE': 'ATV',
    
    'MOBILE MACHINE': 'MACHINERY',
    'TRACTOR': 'MACHINERY',
    
    'LIGHT BUS':'BUS',
    'SERVICE COACH': 'BUS'
})

# Check the unique values and their counts again
unique_types = df4['vehicle_type'].unique()
type_counts = df4['vehicle_type'].value_counts()

# Display the results
print("Unique values in 'vehicle_type' column after merging variations:")
print(unique_types)

print("\nCounts of unique values in 'vehicle_type' column after merging variations:")
print(type_counts)

Unique values in 'vehicle_type' column after merging variations:
['CAR' 'TRAILER' 'UTILITY TRUCK' 'VAN' 'CAMPER' 'MOTORCYCLE' 'ATV'
 'MACHINERY' 'BUS']

Counts of unique values in 'vehicle_type' column after merging variations:
vehicle_type
CAR              3439
TRAILER           988
UTILITY TRUCK     873
MOTORCYCLE        552
VAN               324
CAMPER             84
BUS                30
MACHINERY          11
ATV                 9
Name: count, dtype: int64

In [89]:
#To saved update dataset into csv format and view in excel
#df4.to_csv('stolenvechilesdf3(cleandata1).csv',index=False)

In [90]:
#'company_name' column

In [91]:
# Convert 'company_name' column to uppercase for consistency
df4['company_name'] = df4['company_name'].str.upper()

# Merge variations of company names
df4['company_name'] = df4['company_name'].replace('LANDROVER', 'LAND ROVER')
df4['company_name'] = df4['company_name'].replace('CHRYSLER JEEP', 'CHRYSLER')

# Check the unique values and their counts again
unique_companies = df4['company_name'].unique()
company_counts = df4['company_name'].value_counts()

# Display the results
print("Unique values in 'company_name' column after merging variations:")
print(unique_companies)

print("\nCounts of unique values in 'company_name' column after merging variations:")
print(company_counts)

Unique values in 'company_name' column after merging variations:
['MAZDA' 'TRAILER' 'SUZUKI' 'SUBARU' 'HOLDEN' 'FORD' 'TOYOTA' 'HONDA'
 'CARAVAN' 'HOMEBUILT' 'NISSAN' 'FACTORY BUILT' 'MITSUBISHI' 'KIA'
 'HYUNDAI' 'CHRYSLER' 'BRIFORD' 'FORZA' 'ELDDIS' 'VESPA' 'BMW' 'JAGUAR'
 'VOLKSWAGEN' 'PIAGGIO' 'KAWASAKI' 'KIWI' 'AUDI' 'YAMAHA' 'MERCEDES-BENZ'
 'MOPED' 'FOTON' 'TNT MOTOR' 'LEXUS' 'TRIUMPH' 'LAND ROVER' 'CUSTOMBUILT'
 'KEA' 'ISUZU' 'TITAN' 'MAHINDRA' 'JEEP' 'PINTO' 'ZNEN' 'CADILLAC'
 'SCANIA' 'TGB' 'BLMC' 'KTM' 'GREAT WALL' 'CFMOTO' 'OLEARY' 'PEUGEOT'
 'HARLEY DAVIDSON' 'ADLY' 'DODGE' 'PGO' 'SYM' 'PORSCHE' 'KUBOTA' 'VULCAN'
 'VOLVO' 'SHERCO' 'ZEPHYR' 'TRAIL-LITE' 'ROYAL ENFIELD' 'OXFORD'
 'HUSQVARNA' 'MINI' 'LDV' 'SKODA' 'SSANGYONG' 'SPRITE' 'JAYCO' 'REID'
 'CMG' 'HYOSUNG' 'ALFA ROMEO' 'KYMCO' 'TAKEUCHI' 'FIAT' 'HOSKINGS'
 'DAEWOO' 'PIONEER' 'BAILEY' 'DAIHATSU' 'BYD' 'CLASSIC' 'MOBILE MACHINE'
 'UBCO' 'CAGIVA' 'HINO' 'FTN MOTION' 'AUSTIN' 'APRILIA' 'TOKO' 'LOCHIEL'
 'RENAULT' 'EUNOS' 'DUCATI' 'AAKRON XPRESS' 'NIU' 'ARO BROS' 'CHEVROLET'
 'DMW' 'VAGABOND' 'BENTLEY' 'LITEWEIGHT' 'CITROEN' 'POLARIS' 'ATLAS'
 'DAIMLER' 'JOHN DEERE' 'ROVER' 'ANGLO' 'CAN-AM' 'DIAMOND' 'SWIFT' 'LVV'
 'NISSAN DIESEL' 'IVECO' 'MOTORCYCLE' 'BENELLI' 'KIWIAZ' 'CHERY'
 'MONO - WAY' 'BEDFORD' 'LIMA' 'FREIGHTLINER' 'MILLS - TUI' 'OPEL'
 'GILERA' 'MG' 'LIFAN' 'TMC' 'CATERPILLAR' 'RENEGRADE TRAILERS' 'INDIAN'
 'BUELL' 'MOTO GUZZI' 'MC TRAILERS' 'STEELBRO' 'KENWORTH' 'FRUEHAUF'
 'MACK' 'ROADMASTER' 'GWM' 'SAAB' 'DENNIS' 'ABI' 'CONDOR' 'INTERNATIONAL'
 'FUSO']

Counts of unique values in 'company_name' column after merging variations:
company_name
TOYOTA           1294
TRAILER           676
NISSAN            656
MAZDA             611
FORD              436
                 ...
NISSAN DIESEL       1
IVECO               1
MOTORCYCLE          1
KIWIAZ              1
FUSO                1
Name: count, Length: 152, dtype: int64

In [92]:
#Changes to be made in company_name and vehicle_desc columns to correct company names by its description

In [93]:
# Count the number of stolen vehicles for each company
company_counts = df4['company_name'].value_counts()

# Print the companies and their corresponding counts
for index, (company, count) in enumerate(company_counts.items(), start=1):
    print(f"{index}. {company}: {count}")

1. TOYOTA: 1294
2. TRAILER: 676
3. NISSAN: 656
4. MAZDA: 611
5. FORD: 436
6. HONDA: 290
7. MITSUBISHI: 263
8. HOLDEN: 236
9. SUBARU: 228
10. SUZUKI: 186
11. BMW: 145
12. HOMEBUILT: 94
13. AUDI: 74
14. VOLKSWAGEN: 73
15. FACTORY BUILT: 69
16. YAMAHA: 65
17. MERCEDES-BENZ: 63
18. BRIFORD: 56
19. HYUNDAI: 44
20. ISUZU: 42
21. TNT MOTOR: 40
22. KAWASAKI: 35
23. CARAVAN: 30
24. FORZA: 29
25. KEA: 26
26. PINTO: 25
27. TITAN: 24
28. KTM: 23
29. HARLEY DAVIDSON: 22
30. LEXUS: 22
31. PIAGGIO: 16
32. DAIHATSU: 16
33. TRIUMPH: 15
34. LAND ROVER: 15
35. VOLVO: 15
36. PEUGEOT: 15
37. MOPED: 13
38. KIA: 13
39. JEEP: 11
40. PGO: 11
41. CUSTOMBUILT: 10
42. SSANGYONG: 9
43. RENAULT: 9
44. ZNEN: 9
45. MINI: 8
46. REID: 8
47. UBCO: 8
48. FOTON: 7
49. DUCATI: 7
50. CHEVROLET: 6
51. JAGUAR: 6
52. CHRYSLER: 6
53. CFMOTO: 6
54. FIAT: 6
55. VESPA: 5
56. ADLY: 5
57. DODGE: 5
58. SYM: 5
59. PORSCHE: 5
60. LOCHIEL: 5
61. DMW: 5
62. ROYAL ENFIELD: 4
63. SKODA: 4
64. HUSQVARNA: 4
65. LDV: 4
66. LITEWEIGHT: 4
67. KUBOTA: 4
68. HINO: 4
69. MAHINDRA: 4
70. HOSKINGS: 3
71. APRILIA: 3
72. HYOSUNG: 3
73. AUSTIN: 3
74. SWIFT: 3
75. CAN-AM: 3
76. OXFORD: 3
77. CHERY: 3
78. BENELLI: 3
79. ARO BROS: 2
80. INDIAN: 2
81. AAKRON XPRESS: 2
82. BENTLEY: 2
83. CITROEN: 2
84. BUELL: 2
85. POLARIS: 2
86. TOKO: 2
87. LVV: 2
88. ROVER: 2
89. FTN MOTION: 2
90. ALFA ROMEO: 2
91. KYMCO: 2
92. TAKEUCHI: 2
93. OLEARY: 2
94. GREAT WALL: 2
95. JAYCO: 2
96. KIWI: 2
97. BAILEY: 2
98. MOBILE MACHINE: 2
99. OPEL: 1
100. GILERA: 1
101. MILLS - TUI: 1
102. ELDDIS: 1
103. MG: 1
104. LIFAN: 1
105. TMC: 1
106. CATERPILLAR: 1
107. FREIGHTLINER: 1
108. RENEGRADE TRAILERS: 1
109. CAGIVA: 1
110. MC TRAILERS: 1
111. MOTO GUZZI: 1
112. BEDFORD: 1
113. STEELBRO: 1
114. KENWORTH: 1
115. FRUEHAUF: 1
116. MACK: 1
117. ROADMASTER: 1
118. GWM: 1
119. SAAB: 1
120. DENNIS: 1
121. ABI: 1
122. CONDOR: 1
123. INTERNATIONAL: 1
124. LIMA: 1
125. SCANIA: 1
126. MONO - WAY: 1
127. SHERCO: 1
128. CLASSIC: 1
129. BYD: 1
130. PIONEER: 1
131. DAEWOO: 1
132. EUNOS: 1
133. NIU: 1
134. CMG: 1
135. SPRITE: 1
136. VAGABOND: 1
137. TRAIL-LITE: 1
138. ZEPHYR: 1
139. VULCAN: 1
140. CADILLAC: 1
141. ATLAS: 1
142. DAIMLER: 1
143. JOHN DEERE: 1
144. ANGLO: 1
145. DIAMOND: 1
146. BLMC: 1
147. TGB: 1
148. NISSAN DIESEL: 1
149. IVECO: 1
150. MOTORCYCLE: 1
151. KIWIAZ: 1
152. FUSO: 1

In [94]:
# Sort the company counts alphabetically by company name
sorted_company_counts = company_counts.sort_index()

# Print the companies and their corresponding counts
for index, (company, count) in enumerate(sorted_company_counts.items(), start=1):
    print(f"{index}. {company}: {count}")

1. AAKRON XPRESS: 2
2. ABI: 1
3. ADLY: 5
4. ALFA ROMEO: 2
5. ANGLO: 1
6. APRILIA: 3
7. ARO BROS: 2
8. ATLAS: 1
9. AUDI: 74
10. AUSTIN: 3
11. BAILEY: 2
12. BEDFORD: 1
13. BENELLI: 3
14. BENTLEY: 2
15. BLMC: 1
16. BMW: 145
17. BRIFORD: 56
18. BUELL: 2
19. BYD: 1
20. CADILLAC: 1
21. CAGIVA: 1
22. CAN-AM: 3
23. CARAVAN: 30
24. CATERPILLAR: 1
25. CFMOTO: 6
26. CHERY: 3
27. CHEVROLET: 6
28. CHRYSLER: 6
29. CITROEN: 2
30. CLASSIC: 1
31. CMG: 1
32. CONDOR: 1
33. CUSTOMBUILT: 10
34. DAEWOO: 1
35. DAIHATSU: 16
36. DAIMLER: 1
37. DENNIS: 1
38. DIAMOND: 1
39. DMW: 5
40. DODGE: 5
41. DUCATI: 7
42. ELDDIS: 1
43. EUNOS: 1
44. FACTORY BUILT: 69
45. FIAT: 6
46. FORD: 436
47. FORZA: 29
48. FOTON: 7
49. FREIGHTLINER: 1
50. FRUEHAUF: 1
51. FTN MOTION: 2
52. FUSO: 1
53. GILERA: 1
54. GREAT WALL: 2
55. GWM: 1
56. HARLEY DAVIDSON: 22
57. HINO: 4
58. HOLDEN: 236
59. HOMEBUILT: 94
60. HONDA: 290
61. HOSKINGS: 3
62. HUSQVARNA: 4
63. HYOSUNG: 3
64. HYUNDAI: 44
65. INDIAN: 2
66. INTERNATIONAL: 1
67. ISUZU: 42
68. IVECO: 1
69. JAGUAR: 6
70. JAYCO: 2
71. JEEP: 11
72. JOHN DEERE: 1
73. KAWASAKI: 35
74. KEA: 26
75. KENWORTH: 1
76. KIA: 13
77. KIWI: 2
78. KIWIAZ: 1
79. KTM: 23
80. KUBOTA: 4
81. KYMCO: 2
82. LAND ROVER: 15
83. LDV: 4
84. LEXUS: 22
85. LIFAN: 1
86. LIMA: 1
87. LITEWEIGHT: 4
88. LOCHIEL: 5
89. LVV: 2
90. MACK: 1
91. MAHINDRA: 4
92. MAZDA: 611
93. MC TRAILERS: 1
94. MERCEDES-BENZ: 63
95. MG: 1
96. MILLS - TUI: 1
97. MINI: 8
98. MITSUBISHI: 263
99. MOBILE MACHINE: 2
100. MONO - WAY: 1
101. MOPED: 13
102. MOTO GUZZI: 1
103. MOTORCYCLE: 1
104. NISSAN: 656
105. NISSAN DIESEL: 1
106. NIU: 1
107. OLEARY: 2
108. OPEL: 1
109. OXFORD: 3
110. PEUGEOT: 15
111. PGO: 11
112. PIAGGIO: 16
113. PINTO: 25
114. PIONEER: 1
115. POLARIS: 2
116. PORSCHE: 5
117. REID: 8
118. RENAULT: 9
119. RENEGRADE TRAILERS: 1
120. ROADMASTER: 1
121. ROVER: 2
122. ROYAL ENFIELD: 4
123. SAAB: 1
124. SCANIA: 1
125. SHERCO: 1
126. SKODA: 4
127. SPRITE: 1
128. SSANGYONG: 9
129. STEELBRO: 1
130. SUBARU: 228
131. SUZUKI: 186
132. SWIFT: 3
133. SYM: 5
134. TAKEUCHI: 2
135. TGB: 1
136. TITAN: 24
137. TMC: 1
138. TNT MOTOR: 40
139. TOKO: 2
140. TOYOTA: 1294
141. TRAIL-LITE: 1
142. TRAILER: 676
143. TRIUMPH: 15
144. UBCO: 8
145. VAGABOND: 1
146. VESPA: 5
147. VOLKSWAGEN: 73
148. VOLVO: 15
149. VULCAN: 1
150. YAMAHA: 65
151. ZEPHYR: 1
152. ZNEN: 9

In [95]:
# Define all changes
all_changes = [
   #TRAILER
    #HOMEBUILT
    {'company_name': 'TRAILER', 'vehicle_desc': 'DOMESTIC TRAILER', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'DOMESTIC TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'DOMESTIC', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'DOMESTIC TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'HOMEBUILT', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'HOMEBUILTTANDEEM2500', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'TANDEEM2500 TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'HOMEBUILT BOX BODY', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'BOX BODY TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'LOCAL-HOMEBUILT', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'LOCAL TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'LOCAL', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'LOCAL TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'LOCAL TANDEM', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'LOCAL TANDEM TRAILER'},
    {'company_name': 'HOMEBUILT', 'vehicle_desc': 'LOCAL', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'LOCAL TRAILER'},
    {'company_name': 'HOMEBUILT', 'vehicle_desc': None, 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'HOMEMADE TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'HOMEBUILT ENCLOSED', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'ENCLOSED TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'TRAILER', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'FLAT-DECK TRAILER', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'FLAT-DECK TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'TRAILER HOME', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'HOMEMADE TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'TANDEM TRAILER', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'M TRAILER', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'PMTRAILER', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'HOME BUILT', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'TRAILER'},
    #CARAVAN
    {'company_name': 'CARAVAN', 'vehicle_desc': 'HOMEBUILT', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'ANGLO', 'new_company_name': 'ANGLO', 'new_vehicle_desc': 'CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'REGENT 22 CRUISER', 'new_company_name': 'REGENT', 'new_vehicle_desc': 'REGENT 22 CRUISER CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'ELDDIS TORNADO', 'new_company_name': 'ELDDIS', 'new_vehicle_desc': 'TORNADO CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'BAILEY PAGEANT', 'new_company_name': 'BAILEY', 'new_vehicle_desc': 'CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'HURST', 'new_company_name': 'HURST', 'new_vehicle_desc': 'CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'FREESTLYE 470SE', 'new_company_name': 'ABBEY', 'new_vehicle_desc': 'FREESTLYE 470SE CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'COACHMAN AMARA', 'new_company_name': 'COACHMAN', 'new_vehicle_desc': 'AMARA CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'ANGLO VENTURA', 'new_company_name': 'ANGLO', 'new_vehicle_desc': 'VENTURA CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'LITEWEIGHT POPTOP', 'new_company_name': 'POPTOP', 'new_vehicle_desc': 'LITEWEIGHT CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'SWIFT CHALLENGER', 'new_company_name': 'SWIFT', 'new_vehicle_desc': 'CHALLENGER CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'AVONDALE DART', 'new_company_name': 'AVONDALE', 'new_vehicle_desc': 'DART CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'CUSTOM', 'new_company_name': 'CUSTOMBUILT', 'new_vehicle_desc': 'CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'Liteweight', 'new_company_name': 'LITEWEIGHT', 'new_vehicle_desc': 'CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'REGAL 22', 'new_company_name': 'REGAL', 'new_vehicle_desc': '22 CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'ROADSTAR VACATIONER', 'new_company_name': 'ROADSTAR', 'new_vehicle_desc': 'VACATIONER CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'BAILEY INDIANA', 'new_company_name': 'BAILEY', 'new_vehicle_desc': 'INDIANA CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'ABBEY FREESTYLE 520', 'new_company_name': 'ABBEY', 'new_vehicle_desc': 'FREESTYLE 520 CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'CRUSADER C180', 'new_company_name': 'CRUSADER', 'new_vehicle_desc': 'C180 CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'TRAILITE', 'new_company_name': 'TRAI-LITE', 'new_vehicle_desc': 'CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'GYPSEY RASCAL', 'new_company_name': 'CUSTOMBUILT', 'new_vehicle_desc': 'GYPSEY RASCAL CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'ABI 450CTL', 'new_company_name': 'ABI', 'new_vehicle_desc': '450CTL CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'LEISURELINE', 'new_company_name': 'LEISURELINE', 'new_vehicle_desc': 'CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'ELDDIS TORNADO XL', 'new_company_name': 'ELDDIS', 'new_vehicle_desc': 'TORNADO XL CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'DIRT ROAD XTREME', 'new_company_name': 'CUSTOMBUILT', 'new_vehicle_desc': 'DIRT ROAD XTREME CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'TITAN 595', 'new_company_name': 'TITAN', 'new_vehicle_desc': '595 CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'LUNAR LEXON', 'new_company_name': 'LUNAR', 'new_vehicle_desc': 'LEXON CARAVAN TRAILER'},
    {'company_name': 'CARAVAN', 'vehicle_desc': 'OXFORD DELUXE', 'new_company_name': 'OXFORD', 'new_vehicle_desc': 'DELUXE CARAVAN TRAILER'},
    #CAR
    {'company_name': 'TRAILER', 'vehicle_desc': 'CAR TRAILER', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'CAR TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'CAR TRANSPORT', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'CAR TRANSPORT'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'CAR DOLLY', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'CAR DOLLY'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'CAR TRANSPORTER', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'CAR TRANSPORTER'},
    #BOAT
    {'company_name': 'TRAILER', 'vehicle_desc': 'BOAT TRAILER', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'BOAT TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'BOAT', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'BOAT TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'BOAT DMW', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'BOAT TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'BOAT Trailer', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc':'BOAT TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'ROWING BOAT', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'BOAT TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'TANDEM BOAT', 'new_company_name': 'HOMEBUILT', 'new_vehicle_desc': 'BOAT TRAILER'},
    #CUSTOMBUILT
    {'company_name': 'TRAILER', 'vehicle_desc': 'CUSTOMBUILT', 'new_company_name': 'CUSTOMBUILT', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'CUSTOM BUILT', 'new_company_name': 'CUSTOMBUILT', 'new_vehicle_desc': 'TRAILER'},
    #VULCAN TRAILER
    {'company_name': 'TRAILER', 'vehicle_desc': 'VULCAN', 'new_company_name': 'VULCAN', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'VULCAN', 'vehicle_desc': 'Trailer', 'new_company_name': 'VULCAN', 'new_vehicle_desc': 'TRAILER'},
    #BRENT SMITH
    {'company_name': 'FACTORY BUILT', 'vehicle_desc': 'BRENT SMITH TRAILERS', 'new_company_name': 'BRENT SMITH', 'new_vehicle_desc': 'FACTORYBUILT TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'BRENTSMITH', 'new_company_name': 'BRENT SMITH', 'new_vehicle_desc': 'FACTORYBUILT TRAILER'},
    #FACTORYBUILT
    {'company_name': 'TRAILER', 'vehicle_desc': 'FACTORYBUILT', 'new_company_name': 'FACTORY BUILT', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'FACTORYBUILT', 'vehicle_desc': 'TRAILER', 'new_company_name': 'FACTORY BUILT', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'FACTORY BUILT', 'new_company_name': 'FACTORY BUILT', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'FACTORY BUILT 8X4', 'new_company_name': 'FACTORY BUILT', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'FACTORY BUILT DMW', 'new_company_name': 'FACTORY BUILT', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'FACTORY BUILT', 'vehicle_desc': 'TRAILUX TRAILER', 'new_company_name': 'TRAILUX', 'new_vehicle_desc': 'FACTORYBUILT TRAILER'},
    {'company_name': 'FACTORY BUILT', 'vehicle_desc': 'CONCEPT TRAILERS', 'new_company_name': 'CONCEPT TRAILERS', 'new_vehicle_desc': 'FACTORYBUILT TRAILER'},
    {'company_name': 'FACTORY BUILT', 'vehicle_desc': 'TRAILUX TRAILER', 'new_company_name': 'TRAILUX TRAILER', 'new_vehicle_desc': 'FACTORYBUILT TRAILER'},
    #OTHER TRAILER COMPANY
    {'company_name': 'TRAILER', 'vehicle_desc': 'X-TRAILERS', 'new_company_name': 'X-TRAILERS', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'X-TRAILER', 'new_company_name': 'X-TRAILERS', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'GT TRAILER', 'new_company_name': 'GT-TRAILER', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'GT', 'new_company_name': 'GT-TRAILER', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'CT DIG GT', 'new_company_name': 'GT-TRAILER', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'GT DIGGER TRAILER', 'new_company_name': 'GT-TRAILER', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'GT TRAILER DIG25', 'new_company_name': 'GT-TRAILER', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'TUI TRAILERS', 'new_company_name': 'TUI-TRAILERS', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'TUI TRAILERS 8X5', 'new_company_name': 'TUI-TRAILERS', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'MILLS - TUI', 'vehicle_desc': 'F175', 'new_company_name': 'TUI-TRAILERS', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'TRAILER WORLD 8X5', 'new_company_name': 'TRAILER-WORLD', 'new_vehicle_desc': '8X5 TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'TRAILER WORLD 7X5 HM', 'new_company_name': 'TRAILER-WORLD', 'new_vehicle_desc': '7X5 HM TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'TRAILER WORLD CUSTOM', 'new_company_name': 'TRAILER-WORLD', 'new_vehicle_desc': 'CUSTOM TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'TRAILERWORLD 8X5PCBT', 'new_company_name': 'TRAILER-WORLD', 'new_vehicle_desc': '8X5PCBT TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'DIAMOND', 'new_company_name': 'DIAMOND', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'BRIFORD', 'new_company_name': 'BRIFORD', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'BRIFORD 8X4 1500KG', 'new_company_name': 'BRIFORD', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'BRIFORD 7X4 1000', 'new_company_name': 'BRIFORD', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'BRIFORD 8X4 1000', 'new_company_name': 'BRIFORD', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'BRIFORD 8X4 1000 KG', 'new_company_name': 'BRIFORD', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'BRIFORD 8 X 4 1250KG', 'new_company_name': 'BRIFORD', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'HOMEBUILT', 'vehicle_desc': 'BRIFORD 8X4 TANDEM', 'new_company_name': 'BRIFORD', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'KEA', 'new_company_name': 'KEA', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'HOMEBUILT', 'vehicle_desc': 'KEA', 'new_company_name': 'KEA', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'KEA KCTTT', 'new_company_name': 'KEA', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'KEA ALMAC', 'new_company_name': 'KEA', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'PINTO', 'new_company_name': 'PINTO', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'OLEARY', 'new_company_name': 'OLEARY', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'REID', 'new_company_name': 'REID', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'ROADCHIEF', 'new_company_name': 'ROADCHIEF', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'ROADCHIEF TR74 CS2 H', 'new_company_name': 'ROADCHIEF', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'ROADCHIEF TR85CTA', 'new_company_name': 'ROADCHIEF', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'ROAD CHIEF', 'new_company_name': 'ROADCHIEF', 'new_vehicle_desc': 'TRAILER'},
    {'company_name': 'TRAILER', 'vehicle_desc': 'ROADCHEIF IR84CS2H0F', 'new_company_name': 'ROADCHIEF', 'new_vehicle_desc': 'TRAILER'},
   # {'company_name': 'TRAILER', 'vehicle_desc': 'REID', 'new_company_name': 'ROADCHIEF', 'new_vehicle_desc': 'TRAILER'},
    
    # Added more changes as needed
    #{'company_name': 'CHRYSLER JEEP', 'vehicle_desc': 'CHEROKEE', 'new_company_name': 'CHRYSLER', 'new_vehicle_desc': 'JEEP CHEROKEE'},
    {'company_name': 'TRAIL-LITE', 'vehicle_desc': 'AAKRON 8X5', 'new_company_name': 'TRAI-LITE', 'new_vehicle_desc': 'AAKRON 8X5 CARAVAN TRAILER'},
]
# Function to apply all changes
def apply_changes(row, changes):
    for change in changes:
        if row['company_name'] == change['company_name'] and row['vehicle_desc'] == change['vehicle_desc']:
            row['company_name'] = change['new_company_name']
            row['vehicle_desc'] = change['new_vehicle_desc']
            break  # Stop iterating once changes are applied
    return row

# Apply the function to each row
df4 = df4.apply(lambda row: apply_changes(row, all_changes), axis=1)

In [96]:
#To saved update dataset into csv format and view in excel
#df4.to_csv('stolenvechilesdf3(cleandata2).csv',index=False)

In [97]:
# Count the number of stolen vehicles for each company
company_counts = df4['company_name'].value_counts()

# Print the companies and their corresponding counts
for index, (company, count) in enumerate(company_counts.items(), start=1):
    print(f"{index}. {company}: {count}")

1. TOYOTA: 1294
2. NISSAN: 656
3. MAZDA: 611
4. FORD: 436
5. TRAILER: 400
6. HOMEBUILT: 295
7. HONDA: 290
8. MITSUBISHI: 263
9. HOLDEN: 236
10. SUBARU: 228
11. SUZUKI: 186
12. BMW: 145
13. AUDI: 74
14. VOLKSWAGEN: 73
15. YAMAHA: 65
16. BRIFORD: 64
17. MERCEDES-BENZ: 63
18. FACTORY BUILT: 52
19. HYUNDAI: 44
20. ISUZU: 42
21. TNT MOTOR: 40
22. KAWASAKI: 35
23. KEA: 30
24. FORZA: 29
25. PINTO: 26
26. TITAN: 25
27. BRENT SMITH: 23
28. KTM: 23
29. HARLEY DAVIDSON: 22
30. LEXUS: 22
31. DAIHATSU: 16
32. PIAGGIO: 16
33. PEUGEOT: 15
34. CUSTOMBUILT: 15
35. LAND ROVER: 15
36. TRIUMPH: 15
37. VOLVO: 15
38. ROADCHIEF: 14
39. KIA: 13
40. MOPED: 13
41. PGO: 11
42. JEEP: 11
43. GT-TRAILER: 10
44. RENAULT: 9
45. ZNEN: 9
46. SSANGYONG: 9
47. REID: 9
48. VULCAN: 8
49. UBCO: 8
50. MINI: 8
51. DUCATI: 7
52. FOTON: 7
53. CFMOTO: 6
54. FIAT: 6
55. TRAILER-WORLD: 6
56. CHEVROLET: 6
57. JAGUAR: 6
58. CHRYSLER: 6
59. SYM: 5
60. LOCHIEL: 5
61. VESPA: 5
62. CONCEPT TRAILERS: 5
63. PORSCHE: 5
64. X-TRAILERS: 5
65. DODGE: 5
66. ADLY: 5
67. LITEWEIGHT: 5
68. DMW: 5
69. LDV: 4
70. ANGLO: 4
71. SWIFT: 4
72. SKODA: 4
73. BAILEY: 4
74. DIAMOND: 4
75. HUSQVARNA: 4
76. OXFORD: 4
77. ROYAL ENFIELD: 4
78. HINO: 4
79. KUBOTA: 4
80. MAHINDRA: 4
81. BENELLI: 3
82. AUSTIN: 3
83. APRILIA: 3
84. CHERY: 3
85. HOSKINGS: 3
86. CAN-AM: 3
87. HYOSUNG: 3
88. ELDDIS: 3
89. TUI-TRAILERS: 3
90. OLEARY: 3
91. KYMCO: 2
92. ARO BROS: 2
93. TOKO: 2
94. GREAT WALL: 2
95. INDIAN: 2
96. AAKRON XPRESS: 2
97. ABI: 2
98. BENTLEY: 2
99. TRAI-LITE: 2
100. CITROEN: 2
101. POLARIS: 2
102. ALFA ROMEO: 2
103. ROVER: 2
104. LVV: 2
105. FTN MOTION: 2
106. BUELL: 2
107. KIWI: 2
108. JAYCO: 2
109. ABBEY: 2
110. TAKEUCHI: 2
111. MOBILE MACHINE: 2
112. DENNIS: 1
113. OPEL: 1
114. FREIGHTLINER: 1
115. CONDOR: 1
116. LIMA: 1
117. LUNAR: 1
118. GILERA: 1
119. BEDFORD: 1
120. INTERNATIONAL: 1
121. MONO - WAY: 1
122. CRUSADER: 1
123. SAAB: 1
124. STEELBRO: 1
125. MC TRAILERS: 1
126. LIFAN: 1
127. TMC: 1
128. CATERPILLAR: 1
129. LEISURELINE: 1
130. GWM: 1
131. ROADMASTER: 1
132. RENEGRADE TRAILERS: 1
133. MACK: 1
134. KIWIAZ: 1
135. FRUEHAUF: 1
136. KENWORTH: 1
137. MOTO GUZZI: 1
138. MG: 1
139. JOHN DEERE: 1
140. MOTORCYCLE: 1
141. SHERCO: 1
142. COACHMAN: 1
143. CMG: 1
144. DAEWOO: 1
145. PIONEER: 1
146. TRAILUX: 1
147. BYD: 1
148. CLASSIC: 1
149. POPTOP: 1
150. SPRITE: 1
151. HURST: 1
152. CAGIVA: 1
153. CARAVAN: 1
154. ZEPHYR: 1
155. EUNOS: 1
156. IVECO: 1
157. AVONDALE: 1
158. BLMC: 1
159. NIU: 1
160. TGB: 1
161. SCANIA: 1
162. VAGABOND: 1
163. CADILLAC: 1
164. REGAL: 1
165. ATLAS: 1
166. DAIMLER: 1
167. ROADSTAR: 1
168. REGENT: 1
169. NISSAN DIESEL: 1
170. FUSO: 1

In [98]:
# Count the number of stolen vehicles for each company
company_counts = df4['company_name'].value_counts()

# Sort the company counts alphabetically by company name
sorted_company_counts = company_counts.sort_index()

# Print the companies and their corresponding counts
for index, (company, count) in enumerate(sorted_company_counts.items(), start=1):
    print(f"{index}. {company}: {count}")

1. AAKRON XPRESS: 2
2. ABBEY: 2
3. ABI: 2
4. ADLY: 5
5. ALFA ROMEO: 2
6. ANGLO: 4
7. APRILIA: 3
8. ARO BROS: 2
9. ATLAS: 1
10. AUDI: 74
11. AUSTIN: 3
12. AVONDALE: 1
13. BAILEY: 4
14. BEDFORD: 1
15. BENELLI: 3
16. BENTLEY: 2
17. BLMC: 1
18. BMW: 145
19. BRENT SMITH: 23
20. BRIFORD: 64
21. BUELL: 2
22. BYD: 1
23. CADILLAC: 1
24. CAGIVA: 1
25. CAN-AM: 3
26. CARAVAN: 1
27. CATERPILLAR: 1
28. CFMOTO: 6
29. CHERY: 3
30. CHEVROLET: 6
31. CHRYSLER: 6
32. CITROEN: 2
33. CLASSIC: 1
34. CMG: 1
35. COACHMAN: 1
36. CONCEPT TRAILERS: 5
37. CONDOR: 1
38. CRUSADER: 1
39. CUSTOMBUILT: 15
40. DAEWOO: 1
41. DAIHATSU: 16
42. DAIMLER: 1
43. DENNIS: 1
44. DIAMOND: 4
45. DMW: 5
46. DODGE: 5
47. DUCATI: 7
48. ELDDIS: 3
49. EUNOS: 1
50. FACTORY BUILT: 52
51. FIAT: 6
52. FORD: 436
53. FORZA: 29
54. FOTON: 7
55. FREIGHTLINER: 1
56. FRUEHAUF: 1
57. FTN MOTION: 2
58. FUSO: 1
59. GILERA: 1
60. GREAT WALL: 2
61. GT-TRAILER: 10
62. GWM: 1
63. HARLEY DAVIDSON: 22
64. HINO: 4
65. HOLDEN: 236
66. HOMEBUILT: 295
67. HONDA: 290
68. HOSKINGS: 3
69. HURST: 1
70. HUSQVARNA: 4
71. HYOSUNG: 3
72. HYUNDAI: 44
73. INDIAN: 2
74. INTERNATIONAL: 1
75. ISUZU: 42
76. IVECO: 1
77. JAGUAR: 6
78. JAYCO: 2
79. JEEP: 11
80. JOHN DEERE: 1
81. KAWASAKI: 35
82. KEA: 30
83. KENWORTH: 1
84. KIA: 13
85. KIWI: 2
86. KIWIAZ: 1
87. KTM: 23
88. KUBOTA: 4
89. KYMCO: 2
90. LAND ROVER: 15
91. LDV: 4
92. LEISURELINE: 1
93. LEXUS: 22
94. LIFAN: 1
95. LIMA: 1
96. LITEWEIGHT: 5
97. LOCHIEL: 5
98. LUNAR: 1
99. LVV: 2
100. MACK: 1
101. MAHINDRA: 4
102. MAZDA: 611
103. MC TRAILERS: 1
104. MERCEDES-BENZ: 63
105. MG: 1
106. MINI: 8
107. MITSUBISHI: 263
108. MOBILE MACHINE: 2
109. MONO - WAY: 1
110. MOPED: 13
111. MOTO GUZZI: 1
112. MOTORCYCLE: 1
113. NISSAN: 656
114. NISSAN DIESEL: 1
115. NIU: 1
116. OLEARY: 3
117. OPEL: 1
118. OXFORD: 4
119. PEUGEOT: 15
120. PGO: 11
121. PIAGGIO: 16
122. PINTO: 26
123. PIONEER: 1
124. POLARIS: 2
125. POPTOP: 1
126. PORSCHE: 5
127. REGAL: 1
128. REGENT: 1
129. REID: 9
130. RENAULT: 9
131. RENEGRADE TRAILERS: 1
132. ROADCHIEF: 14
133. ROADMASTER: 1
134. ROADSTAR: 1
135. ROVER: 2
136. ROYAL ENFIELD: 4
137. SAAB: 1
138. SCANIA: 1
139. SHERCO: 1
140. SKODA: 4
141. SPRITE: 1
142. SSANGYONG: 9
143. STEELBRO: 1
144. SUBARU: 228
145. SUZUKI: 186
146. SWIFT: 4
147. SYM: 5
148. TAKEUCHI: 2
149. TGB: 1
150. TITAN: 25
151. TMC: 1
152. TNT MOTOR: 40
153. TOKO: 2
154. TOYOTA: 1294
155. TRAI-LITE: 2
156. TRAILER: 400
157. TRAILER-WORLD: 6
158. TRAILUX: 1
159. TRIUMPH: 15
160. TUI-TRAILERS: 3
161. UBCO: 8
162. VAGABOND: 1
163. VESPA: 5
164. VOLKSWAGEN: 73
165. VOLVO: 15
166. VULCAN: 8
167. X-TRAILERS: 5
168. YAMAHA: 65
169. ZEPHYR: 1
170. ZNEN: 9

In [99]:
#TRAILER TO HOMEBUILT in company_name
# Function to apply all changes
def apply_changes(row, changes):
    for change in changes:
        if row['company_name'] == 'TRAILER' and change['company_name'] == 'TRAILER':
            row['company_name'] = 'HOMEBUILT'
            break
    return row

# Apply the function to each row
df4 = df4.apply(lambda row: apply_changes(row, all_changes), axis=1)

# Count the number of stolen vehicles for each company
company_counts = df4['company_name'].value_counts()

# Print the companies and their corresponding counts
for index, (company, count) in enumerate(company_counts.items(), start=1):
    print(f"{index}. {company}: {count}")

1. TOYOTA: 1294
2. HOMEBUILT: 695
3. NISSAN: 656
4. MAZDA: 611
5. FORD: 436
6. HONDA: 290
7. MITSUBISHI: 263
8. HOLDEN: 236
9. SUBARU: 228
10. SUZUKI: 186
11. BMW: 145
12. AUDI: 74
13. VOLKSWAGEN: 73
14. YAMAHA: 65
15. BRIFORD: 64
16. MERCEDES-BENZ: 63
17. FACTORY BUILT: 52
18. HYUNDAI: 44
19. ISUZU: 42
20. TNT MOTOR: 40
21. KAWASAKI: 35
22. KEA: 30
23. FORZA: 29
24. PINTO: 26
25. TITAN: 25
26. BRENT SMITH: 23
27. KTM: 23
28. HARLEY DAVIDSON: 22
29. LEXUS: 22
30. DAIHATSU: 16
31. PIAGGIO: 16
32. PEUGEOT: 15
33. CUSTOMBUILT: 15
34. LAND ROVER: 15
35. TRIUMPH: 15
36. VOLVO: 15
37. ROADCHIEF: 14
38. KIA: 13
39. MOPED: 13
40. PGO: 11
41. JEEP: 11
42. GT-TRAILER: 10
43. RENAULT: 9
44. ZNEN: 9
45. SSANGYONG: 9
46. REID: 9
47. VULCAN: 8
48. UBCO: 8
49. MINI: 8
50. DUCATI: 7
51. FOTON: 7
52. CFMOTO: 6
53. FIAT: 6
54. TRAILER-WORLD: 6
55. CHEVROLET: 6
56. JAGUAR: 6
57. CHRYSLER: 6
58. SYM: 5
59. LOCHIEL: 5
60. VESPA: 5
61. CONCEPT TRAILERS: 5
62. PORSCHE: 5
63. X-TRAILERS: 5
64. DODGE: 5
65. ADLY: 5
66. LITEWEIGHT: 5
67. DMW: 5
68. LDV: 4
69. ANGLO: 4
70. SWIFT: 4
71. SKODA: 4
72. BAILEY: 4
73. DIAMOND: 4
74. HUSQVARNA: 4
75. OXFORD: 4
76. ROYAL ENFIELD: 4
77. HINO: 4
78. KUBOTA: 4
79. MAHINDRA: 4
80. BENELLI: 3
81. AUSTIN: 3
82. APRILIA: 3
83. CHERY: 3
84. HOSKINGS: 3
85. CAN-AM: 3
86. HYOSUNG: 3
87. ELDDIS: 3
88. TUI-TRAILERS: 3
89. OLEARY: 3
90. KYMCO: 2
91. ARO BROS: 2
92. TOKO: 2
93. GREAT WALL: 2
94. INDIAN: 2
95. AAKRON XPRESS: 2
96. ABI: 2
97. BENTLEY: 2
98. TRAI-LITE: 2
99. CITROEN: 2
100. POLARIS: 2
101. ALFA ROMEO: 2
102. ROVER: 2
103. LVV: 2
104. FTN MOTION: 2
105. BUELL: 2
106. KIWI: 2
107. JAYCO: 2
108. ABBEY: 2
109. TAKEUCHI: 2
110. MOBILE MACHINE: 2
111. DENNIS: 1
112. OPEL: 1
113. FREIGHTLINER: 1
114. CONDOR: 1
115. LIMA: 1
116. LUNAR: 1
117. GILERA: 1
118. BEDFORD: 1
119. INTERNATIONAL: 1
120. MONO - WAY: 1
121. CRUSADER: 1
122. SAAB: 1
123. STEELBRO: 1
124. MC TRAILERS: 1
125. LIFAN: 1
126. TMC: 1
127. CATERPILLAR: 1
128. LEISURELINE: 1
129. GWM: 1
130. ROADMASTER: 1
131. RENEGRADE TRAILERS: 1
132. MACK: 1
133. KIWIAZ: 1
134. FRUEHAUF: 1
135. KENWORTH: 1
136. MOTO GUZZI: 1
137. MG: 1
138. JOHN DEERE: 1
139. MOTORCYCLE: 1
140. SHERCO: 1
141. COACHMAN: 1
142. CMG: 1
143. DAEWOO: 1
144. PIONEER: 1
145. TRAILUX: 1
146. BYD: 1
147. CLASSIC: 1
148. POPTOP: 1
149. SPRITE: 1
150. HURST: 1
151. CAGIVA: 1
152. CARAVAN: 1
153. ZEPHYR: 1
154. EUNOS: 1
155. IVECO: 1
156. AVONDALE: 1
157. BLMC: 1
158. NIU: 1
159. TGB: 1
160. SCANIA: 1
161. VAGABOND: 1
162. CADILLAC: 1
163. REGAL: 1
164. ATLAS: 1
165. DAIMLER: 1
166. ROADSTAR: 1
167. REGENT: 1
168. NISSAN DIESEL: 1
169. FUSO: 1

In [100]:
# Drop the vehicle_desc column as further it is not in use
df4 = df4.drop(columns=['vehicle_desc'])

In [101]:
# df4 is cleaned dataset of stolen vehicle, further it will be merged with other dataset(NZ Police Area Boundaries)
df4

,no_plate,color,company_name,model_year,vehicle_type,date_stolen,district_name
0,PZQ399,SILVER,MAZDA,1999,CAR,2023-10-14,Bay of Plenty
1,159Q3,SILVER,HOMEBUILT,2021,TRAILER,2023-10-14,Southern
2,LRT21,SILVER,SUZUKI,2015,CAR,2023-10-14,Counties/Manukau
3,GTZ487,GREY,SUBARU,2009,CAR,2023-10-14,Waikato
4,BUC100,BLUE,HOLDEN,1998,CAR,2023-10-14,Central
...,...,...,...,...,...,...,...
6323,HWE321,SILVER,TOYOTA,2004,CAR,2024-05-16,Counties/Manukau
6324,BDN946,RED,TOYOTA,2003,UTILITY TRUCK,2024-05-16,Canterbury
6325,PUJ441,WHITE,LAND ROVER,2023,CAR,2024-05-16,Auckland City
6326,ASL386,BROWN,TOYOTA,2002,UTILITY TRUCK,2024-05-16,Canterbury
6327,DMY408,SILVER,FORD,2003,CAR,2024-05-16,Bay of Plenty

# Dataset Loading for NZ Police Area Boundaries(dataset1)

In [102]:
# Load a Shapefile into a GeoDataFrame

# Specify the file path
shapefile_path = r'C:\Users\DELL\Downloads\kx-nz-police-area-boundaries-29-april-2021-SHP\nz-police-area-boundaries-29-april-2021.shp'

# Load the shapefile into a GeoDataFrame
dataset1 = gpd.read_file(shapefile_path)

# Display the GeoDataFrame
dataset1

,AREA_ID,AREA_NAME,DISTRICT_I,DISTRICT_N,A_MACRON,D_MACRON,geometry
0,011,Auckland Central,01,Auckland City,Auckland Central,Auckland City,MULTIPOLYGON Z (((1769410.716 5920488.590 0.00...
1,012,Auckland East,01,Auckland City,Auckland East,Auckland City,"POLYGON Z ((1762185.909 5910703.436 0.000, 176..."
2,013,Auckland West,01,Auckland City,Auckland West,Auckland City,"POLYGON Z ((1755403.649 5922009.121 0.000, 175..."
3,021,Rotorua,02,Bay of Plenty,Rotorua,Bay of Plenty,"POLYGON Z ((1887047.140 5735196.624 0.000, 188..."
4,022,Taupo,02,Bay of Plenty,Taupo,Bay of Plenty,"POLYGON Z ((1836385.154 5647165.680 0.000, 183..."
5,024,Western Bay of Plenty,02,Bay of Plenty,Western Bay of Plenty,Bay of Plenty,"POLYGON Z ((1864060.083 5848792.859 0.000, 186..."
6,025,Eastern Bay of Plenty,02,Bay of Plenty,Eastern Bay of Plenty,Bay of Plenty,"POLYGON Z ((1950046.900 5758692.307 0.000, 194..."
7,035,Mid-South Canterbury,03,Canterbury,Mid-South Canterbury,Canterbury,"POLYGON Z ((1453579.262 5021995.144 0.000, 145..."
8,036,Christchurch Metro,03,Canterbury,Christchurch Metro,Canterbury,"POLYGON Z ((1579344.138 5162626.821 0.000, 157..."
9,046,Whanganui,04,Central,Whanganui,Central,"POLYGON Z ((1871576.874 5606448.565 0.000, 187..."
10,047,Taranaki,04,Central,Taranaki,Central,"POLYGON Z ((1694624.480 5595707.524 0.000, 169..."
11,048,Manawatu,04,Central,Manawatū,Central,"POLYGON Z ((1888001.202 5532044.292 0.000, 188..."
12,052,Counties/Manukau East,05,Counties/Manukau,Counties/Manukau East,Counties/Manukau,"POLYGON Z ((1769710.792 5904688.734 0.000, 176..."
13,071,Far North,07,Northland,Far North,Northland,MULTIPOLYGON Z (((1724956.261 6084162.834 0.00...
14,073,Whangarei,07,Northland,Whangārei,Northland,MULTIPOLYGON Z (((1776789.692 6087870.981 0.00...
15,081,Waitemata East,08,Waitemata,Waitematā East,Waitematā,"POLYGON Z ((1755242.644 5922272.839 0.000, 175..."
16,082,Waitemata North,08,Waitemata,Waitematā North,Waitematā,MULTIPOLYGON Z (((1778051.268 5986514.352 0.00...
17,083,Waitemata West,08,Waitemata,Waitematā West,Waitematā,"POLYGON Z ((1749242.004 5904372.844 0.000, 174..."
18,092,Otago Coastal,09,Southern,Otago Coastal,Southern,"POLYGON Z ((1444023.688 4938770.693 0.000, 144..."
19,093,Southland,09,Southern,Southland,Southern,"POLYGON Z ((1305409.559 4847323.661 0.000, 130..."
20,094,Otago Lakes Central,09,Southern,Otago Lakes Central,Southern,"POLYGON Z ((1293387.098 4977827.486 0.000, 129..."
21,101,Marlborough,10,Tasman,Marlborough,Tasman,"POLYGON Z ((1704528.062 5338434.821 0.000, 170..."
22,102,Nelson Bays,10,Tasman,Nelson Bays,Tasman,"POLYGON Z ((1624866.278 5417556.328 0.000, 162..."
23,103,West Coast,10,Tasman,West Coast,Tasman,"POLYGON Z ((1542364.287 5303070.408 0.000, 154..."
24,111,Hamilton City,11,Waikato,Hamilton City,Waikato,"POLYGON Z ((1801717.953 5822572.978 0.000, 180..."
25,112,Waikato East,11,Waikato,Waikato East,Waikato,"POLYGON Z ((1828150.031 5970561.163 0.000, 183..."
26,113,Waikato West,11,Waikato,Waikato West,Waikato,"POLYGON Z ((1833603.132 5800098.964 0.000, 183..."
27,121,Kapiti-Mana,12,Wellington,Kapiti-Mana,Wellington,"POLYGON Z ((1781975.072 5466416.786 0.000, 178..."
28,124,Wairarapa,12,Wellington,Wairarapa,Wellington,"POLYGON Z ((1875987.670 5480425.069 0.000, 189..."
29,125,Wellington,12,Wellington,Wellington,Wellington,"POLYGON Z ((1737807.764 5397423.013 0.000, 173..."
30,126,Hutt Valley,12,Wellington,Hutt Valley,Wellington,"POLYGON Z ((1757637.238 5413592.612 0.000, 175..."
31,037,Canterbury Rural,03,Canterbury,Canterbury Rural,Canterbury,"POLYGON Z ((1554293.776 5121971.097 0.000, 155..."
32,054,Counties/Manukau Central,05,Counties/Manukau,Counties/Manukau Central,Counties/Manukau,"POLYGON Z ((1770500.260 5900288.236 0.000, 177..."
33,055,Counties/Manukau West,05,Counties/Manukau,Counties/Manukau West,Counties/Manukau,"POLYGON Z ((1763894.600 5912542.887 0.000, 176..."
34,058,Counties/Manukau South,05,Counties/Manukau,Counties/Manukau South,Counties/Manukau,"POLYGON Z ((1812488.373 5900030.631 0.000, 181..."
35,061,Tairawhiti,06,Eastern,Tairāwhiti,Eastern,"POLYGON Z ((2049387.290 5832785.434 0.000, 204..."
36,064,Hawkes Bay,06,Eastern,Hawkes Bay,Eastern,"POLYGON Z ((1930779.432 5673179.305 0.000, 193..."

# Dataset1: Data Prepocessing

In [103]:
# Displaying Data Types of Columns
data_types = dataset1.dtypes
print("Data Types of Columns:")
print(data_types)

Data Types of Columns:
AREA_ID         object
AREA_NAME       object
DISTRICT_I      object
DISTRICT_N      object
A_MACRON        object
D_MACRON        object
geometry      geometry
dtype: object

In [104]:
# Check for Missing Values
missing_values = dataset1.isnull().sum()
print("Rows with any NaN values:")
print(missing_values)

Rows with any NaN values:
AREA_ID       0
AREA_NAME     0
DISTRICT_I    0
DISTRICT_N    0
A_MACRON      0
D_MACRON      0
geometry      0
dtype: int64

In [105]:
# Counting Duplicate Rows in the Dataset
duplicates = dataset1.duplicated().sum()
print("Number of duplicate rows:", duplicates)

Number of duplicate rows: 0

In [106]:
# Check Coordinate Reference System (CRS)
print("Coordinate Reference System (CRS):", dataset1.crs)
#To check (CRS) used by the GeoDataFrame, GeoDataFrame is using the CRS with 
#the EPSG code 2193, which is NZGD2000 / New Zealand Transverse Mercator 2000


# Check Geometric Validity
validity = dataset1.is_valid
print("Geometric Validity:", validity)
#To check the geometric validity of each geometry in the GeoDataFrame
#All geometries in the GeoDataFrame are valid(True) or invalid(False))

Coordinate Reference System (CRS): EPSG:2193
Geometric Validity: 0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
dtype: bool

# Creating New Features from Existing Data(Feature Engineering)
# Adding one column name 'No_Police_Areas'

In [107]:
# Provided data: Number of police areas per district
data = {
    'DISTRICT_N': [
        'Auckland City', 'Bay of Plenty', 'Canterbury', 'Central', 
        'Counties/Manukau', 'Eastern', 'Northland', 'Southern', 
        'Tasman', 'Waikato', 'Waitemata', 'Wellington'
    ],
    'No_Police_Areas': [3, 4, 3, 3, 4, 2, 2, 3, 3, 3, 3, 4]
}

# Create a DataFrame from the provided data
no_police_areas_df = pd.DataFrame(data)

# Merge the new DataFrame with the existing dataset1 based on the 'DISTRICT_N' column
dataset1 = dataset1.merge(no_police_areas_df, on='DISTRICT_N', how='left')

# Display the updated DataFrame
dataset1

,AREA_ID,AREA_NAME,DISTRICT_I,DISTRICT_N,A_MACRON,D_MACRON,geometry,No_Police_Areas
0,011,Auckland Central,01,Auckland City,Auckland Central,Auckland City,MULTIPOLYGON Z (((1769410.716 5920488.590 0.00...,3
1,012,Auckland East,01,Auckland City,Auckland East,Auckland City,"POLYGON Z ((1762185.909 5910703.436 0.000, 176...",3
2,013,Auckland West,01,Auckland City,Auckland West,Auckland City,"POLYGON Z ((1755403.649 5922009.121 0.000, 175...",3
3,021,Rotorua,02,Bay of Plenty,Rotorua,Bay of Plenty,"POLYGON Z ((1887047.140 5735196.624 0.000, 188...",4
4,022,Taupo,02,Bay of Plenty,Taupo,Bay of Plenty,"POLYGON Z ((1836385.154 5647165.680 0.000, 183...",4
5,024,Western Bay of Plenty,02,Bay of Plenty,Western Bay of Plenty,Bay of Plenty,"POLYGON Z ((1864060.083 5848792.859 0.000, 186...",4
6,025,Eastern Bay of Plenty,02,Bay of Plenty,Eastern Bay of Plenty,Bay of Plenty,"POLYGON Z ((1950046.900 5758692.307 0.000, 194...",4
7,035,Mid-South Canterbury,03,Canterbury,Mid-South Canterbury,Canterbury,"POLYGON Z ((1453579.262 5021995.144 0.000, 145...",3
8,036,Christchurch Metro,03,Canterbury,Christchurch Metro,Canterbury,"POLYGON Z ((1579344.138 5162626.821 0.000, 157...",3
9,046,Whanganui,04,Central,Whanganui,Central,"POLYGON Z ((1871576.874 5606448.565 0.000, 187...",3
10,047,Taranaki,04,Central,Taranaki,Central,"POLYGON Z ((1694624.480 5595707.524 0.000, 169...",3
11,048,Manawatu,04,Central,Manawatū,Central,"POLYGON Z ((1888001.202 5532044.292 0.000, 188...",3
12,052,Counties/Manukau East,05,Counties/Manukau,Counties/Manukau East,Counties/Manukau,"POLYGON Z ((1769710.792 5904688.734 0.000, 176...",4
13,071,Far North,07,Northland,Far North,Northland,MULTIPOLYGON Z (((1724956.261 6084162.834 0.00...,2
14,073,Whangarei,07,Northland,Whangārei,Northland,MULTIPOLYGON Z (((1776789.692 6087870.981 0.00...,2
15,081,Waitemata East,08,Waitemata,Waitematā East,Waitematā,"POLYGON Z ((1755242.644 5922272.839 0.000, 175...",3
16,082,Waitemata North,08,Waitemata,Waitematā North,Waitematā,MULTIPOLYGON Z (((1778051.268 5986514.352 0.00...,3
17,083,Waitemata West,08,Waitemata,Waitematā West,Waitematā,"POLYGON Z ((1749242.004 5904372.844 0.000, 174...",3
18,092,Otago Coastal,09,Southern,Otago Coastal,Southern,"POLYGON Z ((1444023.688 4938770.693 0.000, 144...",3
19,093,Southland,09,Southern,Southland,Southern,"POLYGON Z ((1305409.559 4847323.661 0.000, 130...",3
20,094,Otago Lakes Central,09,Southern,Otago Lakes Central,Southern,"POLYGON Z ((1293387.098 4977827.486 0.000, 129...",3
21,101,Marlborough,10,Tasman,Marlborough,Tasman,"POLYGON Z ((1704528.062 5338434.821 0.000, 170...",3
22,102,Nelson Bays,10,Tasman,Nelson Bays,Tasman,"POLYGON Z ((1624866.278 5417556.328 0.000, 162...",3
23,103,West Coast,10,Tasman,West Coast,Tasman,"POLYGON Z ((1542364.287 5303070.408 0.000, 154...",3
24,111,Hamilton City,11,Waikato,Hamilton City,Waikato,"POLYGON Z ((1801717.953 5822572.978 0.000, 180...",3
25,112,Waikato East,11,Waikato,Waikato East,Waikato,"POLYGON Z ((1828150.031 5970561.163 0.000, 183...",3
26,113,Waikato West,11,Waikato,Waikato West,Waikato,"POLYGON Z ((1833603.132 5800098.964 0.000, 183...",3
27,121,Kapiti-Mana,12,Wellington,Kapiti-Mana,Wellington,"POLYGON Z ((1781975.072 5466416.786 0.000, 178...",4
28,124,Wairarapa,12,Wellington,Wairarapa,Wellington,"POLYGON Z ((1875987.670 5480425.069 0.000, 189...",4
29,125,Wellington,12,Wellington,Wellington,Wellington,"POLYGON Z ((1737807.764 5397423.013 0.000, 173...",4
30,126,Hutt Valley,12,Wellington,Hutt Valley,Wellington,"POLYGON Z ((1757637.238 5413592.612 0.000, 175...",4
31,037,Canterbury Rural,03,Canterbury,Canterbury Rural,Canterbury,"POLYGON Z ((1554293.776 5121971.097 0.000, 155...",3
32,054,Counties/Manukau Central,05,Counties/Manukau,Counties/Manukau Central,Counties/Manukau,"POLYGON Z ((1770500.260 5900288.236 0.000, 177...",4
33,055,Counties/Manukau West,05,Counties/Manukau,Counties/Manukau West,Counties/Manukau,"POLYGON Z ((1763894.600 5912542.887 0.000, 176...",4
34,058,Counties/Manukau South,05,Counties/Manukau,Counties/Manukau South,Counties/Manukau,"POLYGON Z ((1812488.373 5900030.631 0.000, 181...",4
35,061,Tairawhiti,06,Eastern,Tairāwhiti,Eastern,"POLYGON Z ((2049387.290 5832785.434 0.000, 204...",2
36,064,Hawkes Bay,06,Eastern,Hawkes Bay,Eastern,"POLYGON Z ((1930779.432 5673179.305 0.000, 193...",2

In [108]:
# Check the current columns in the DataFrame
print("Current columns in dataset1:", dataset1.columns)

# List of columns to drop
columns_to_drop = ['AREA_ID', 'AREA_NAME','DISTRICT_I','A_MACRON', 'D_MACRON', 'geometry']

# Drop the columns if they exist
dataset1 = dataset1.drop(columns=[col for col in columns_to_drop if col in dataset1.columns])

# Drop duplicates based on 'DISTRICT_I', 'DISTRICT_N', and 'No_Police_Areas'
dataset1 = dataset1.drop_duplicates(subset=['DISTRICT_N', 'No_Police_Areas'])

# Reset the index of the unique DataFrame
dataset1.reset_index(drop=True, inplace=True)

# Display the updated DataFrame
dataset1

Current columns in dataset1: Index(['AREA_ID', 'AREA_NAME', 'DISTRICT_I', 'DISTRICT_N', 'A_MACRON',
       'D_MACRON', 'geometry', 'No_Police_Areas'],
      dtype='object')

          DISTRICT_N  No_Police_Areas
0      Auckland City                3
1      Bay of Plenty                4
2         Canterbury                3
3            Central                3
4   Counties/Manukau                4
5          Northland                2
6          Waitemata                3
7           Southern                3
8             Tasman                3
9            Waikato                3
10        Wellington                4
11           Eastern                2

# Merge 2 dataset together dataset1(Police district) & df4(stolen vehicles)

In [109]:
# Perform a left merge to ensure all rows from df4 are kept
df5 = pd.merge(df4, dataset1, left_on='district_name', right_on='DISTRICT_N')

# Verify the number of rows in the resulting DataFrame
print("Number of rows in df4:", len(df4))
print("Number of rows in df5:", len(df5))

# Display the merged DataFrame and check for any missing rows
df5

Number of rows in df4: 6310
Number of rows in df5: 6310

,no_plate,color,company_name,model_year,vehicle_type,date_stolen,district_name,DISTRICT_N,No_Police_Areas
0,PZQ399,SILVER,MAZDA,1999,CAR,2023-10-14,Bay of Plenty,Bay of Plenty,4
1,LLF27,BLACK,MAZDA,2009,CAR,2023-10-15,Bay of Plenty,Bay of Plenty,4
2,EJM12,SILVER,TOYOTA,1998,CAR,2023-10-16,Bay of Plenty,Bay of Plenty,4
3,C4GUS,BLACK,FORZA,2021,MOTORCYCLE,2023-10-16,Bay of Plenty,Bay of Plenty,4
4,343F2,WHITE,ELDDIS,2004,CAMPER,2023-10-16,Bay of Plenty,Bay of Plenty,4
...,...,...,...,...,...,...,...,...,...
6305,LAS107,WHITE,HONDA,2017,CAR,2024-05-01,Tasman,Tasman,3
6306,HNC464,BLUE,TOYOTA,1994,CAR,2024-05-02,Tasman,Tasman,3
6307,JQD358,BLACK,HONDA,2005,CAR,2024-05-10,Tasman,Tasman,3
6308,WR2755,BLUE,MITSUBISHI,1997,CAR,2024-05-10,Tasman,Tasman,3
6309,EAZ363,GREY,NISSAN,2007,UTILITY TRUCK,2024-05-13,Tasman,Tasman,3

In [110]:
# Drop the 'DISTRICT_N' column to keep only 'district_name'
df5 = df5.drop(columns=['DISTRICT_N'])

# Verify the resulting DataFrame
print("DataFrame after dropping 'DISTRICT_N' column:")
print(df5)

DataFrame after dropping 'DISTRICT_N' column:
     no_plate   color company_name  model_year   vehicle_type date_stolen  \
0      PZQ399  SILVER        MAZDA        1999            CAR  2023-10-14
1       LLF27   BLACK        MAZDA        2009            CAR  2023-10-15
2       EJM12  SILVER       TOYOTA        1998            CAR  2023-10-16
3       C4GUS   BLACK        FORZA        2021     MOTORCYCLE  2023-10-16
4       343F2   WHITE       ELDDIS        2004         CAMPER  2023-10-16
...       ...     ...          ...         ...            ...         ...
6305   LAS107   WHITE        HONDA        2017            CAR  2024-05-01
6306   HNC464    BLUE       TOYOTA        1994            CAR  2024-05-02
6307   JQD358   BLACK        HONDA        2005            CAR  2024-05-10
6308   WR2755    BLUE   MITSUBISHI        1997            CAR  2024-05-10
6309   EAZ363    GREY       NISSAN        2007  UTILITY TRUCK  2024-05-13

      district_name  No_Police_Areas
0     Bay of Plenty                4
1     Bay of Plenty                4
2     Bay of Plenty                4
3     Bay of Plenty                4
4     Bay of Plenty                4
...             ...              ...
6305         Tasman                3
6306         Tasman                3
6307         Tasman                3
6308         Tasman                3
6309         Tasman                3

[6310 rows x 8 columns]

In [111]:
# Display the data types of each column in the DataFrame
print(df5.dtypes)

no_plate                   object
color                      object
company_name               object
model_year                  int64
vehicle_type               object
date_stolen        datetime64[ns]
district_name              object
No_Police_Areas             int64
dtype: object

In [112]:
#To saved update dataset into csv format and view in excel
df5.to_csv('stolenvechilesdf3(cleandata4_N_merged).csv',index=False)